@model BeerMan.Models.Wallet

<body>
    <form action="AddWallet">
        <p> Кошелек @Model.Id успешно добавлен ! </p>
        <a href="http://localhost:53880/wallet/Index"> return Wallet</a>"
    </form>
</body>

