
<body>
    <div>
        <h3> Transaction </h3>
        <form method="post" action="AddTransaction">
            <table>
                <tr>
                    <td><p>Введите стоимость: </p></td>
                    <td><input type="text" name="Amount" /></td>
                </tr>
                <tr>
                    <td><p>Введите тип оплаты:</p></td>
                    <td><input type="text" name="Type" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>

